
#sonic2_image {
  width:30%;
}

#sonic2_image {
  width: 25%;
}

p {
  font-family: 'Source Code Pro', monospace;
}

h1 {
  font-family: 'Source Code Pro', monospace
}

body {
  background-color: lightblue;
}

p {
  margin-top: 30px;
  margin-bottom: 20px;
  margin-right: 150px;
  margin-left: 80px;
}
